<div class="container  is-pagetitle">
	<div class="section">
		<h5 class="pagetitle">Liên hệ với chúng tôi</h5>
	</div>
</div>
<div class="container full">
	<div class="section">
		<ul class="collection contacts z-depth-1 ">
			<li class="collection-item avatar">
				<a href="#!" class="chatlink waves-effect status idle">
					<img src="@Url.Content("~/shop/images/user-6.jpg")" alt="Dag Curner" title="Dag Curner" class="circle">
					<span class="title">Hồng Ngát</span>
					<p>03 5522 5600</p>
				</a>    <div class="secondary-content">
					<a href="#!"><i class="mdi mdi-cellphone-iphone"></i></a>
					<a href="#!"><i class="mdi mdi-message-outline"></i></a>
				</div>
			</li>
			<li class="collection-item avatar">
				<a href="#!" class="chatlink waves-effect status idle">
					<img src="@Url.Content("~/shop/images/user-28.jpg")" alt="Gael Burborough" title="Gael Burborough" class="circle">
					<span class="title">Diệp Anh</span>
					<p>08 8473 1938</p>
				</a>    <div class="secondary-content">
					<a href="#!"><i class="mdi mdi-cellphone-iphone"></i></a>
					<a href="#!"><i class="mdi mdi-message-outline"></i></a>
				</div>
			</li>
			<li class="collection-item avatar">
				<a href="#!" class="chatlink waves-effect status away">
					<img src="@Url.Content("~/shop/images/user-4.jpg")" alt="Gisela Smorthit" title="Gisela Smorthit" class="circle">
					<span class="title">Đình Tiến</span>
					<p>0984 263 614</p>
				</a>    <div class="secondary-content">
					<a href="#!"><i class="mdi mdi-cellphone-iphone"></i></a>
					<a href="#!"><i class="mdi mdi-message-outline"></i></a>
				</div>
			</li>
		</ul>
	</div>

</div>