<div class="container  is-pagetitle">
	<div class="section">
		<h5 class="pagetitle">Thanh toán bằng thẻ tín dụng</h5>
	</div>
</div>
<div class="container">
	<div class="section">
		<div class="row">
			<div class="input-field col s12">
				<i class="mdi mdi-credit-card prefix"></i>
				<input id="event_title111" type="text">
				<label for="event_title111">Số thẻ</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="mdi mdi-timer prefix"></i>
				<input id="event_title112" type="text">
				<label for="event_title112">Ngày hết hạn</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<i class="mdi mdi-code-brackets prefix"></i>
				<input id="event_title113" type="text">
				<label for="event_title113">CVV</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="mdi mdi-face prefix"></i>
				<input id="event_title114" type="text">
				<label for="event_title114">Họ và tên chủ thẻ</label>
			</div>
		</div>
		<div class="row">
			<div class="">
				<a href="@Url.Action("PaymentSuccess","Wallet")" class="waves-effect waves-light btn-large bg-primary ">THANH TOÁN</a>
			</div>
		</div>

	</div>
</div>