<div class="login-bg access-product-payment"></div>
<div class="container login-area">
	<div class="section">
		<div class="row center">
			<a class="btn-floating btn-large waves-effect waves-light primary center"><i class="mdi mdi-check"></i></a>
			<h1 class="white-text center welcome-logo">Thanh toán thành công</h1>

			<div class="spacer"></div>
			<h4 class="welcome-tagline white-text center pad-30">Bạn vừa thanh toán số tiền 2.930.000 qua thẻ.</h4>
			<div class="spacer"></div>
			<h6 class="welcome-tagline white-text center pad-30">Cám ơn bạn đã đặt hàng. Chúng tôi sẽ thông báo cho bạn ngay khi đơn hàng sẵn sàng để giao.</h6>
			<div style="height: 10vh" class="spacer"></div>

			<a href="@Url.Action("List","Product")" class="waves-effect waves-light btn-large">
				Tiếp tục mua hàng
			</a>
			<a href="@Url.Action("Invoice","Product")" class="waves-effect waves-light btn-large">
				Xem đơn hàng
			</a>      
			<div class="spacer"></div>
			<div class="spacer"></div>
		</div>

	</div>
</div>
