
<div class="container  is-pagetitle">
	<div class="section">
		<h5 class="pagetitle">Chi tiết sản phẩm</h5>
	</div>
</div>
<div class="container">
	<div class="section">
		<div class="row ui-mediabox  prods prods-boxed">
			<div class="col s12 ">
				<div class="prod-img-wrap">

					<a class="img-wrap" href="@Url.Content("~/shop/images/product-1.jpg")" data-fancybox="images" data-caption="Women Shoes">
						<img alt="image" class="z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/product-1.jpg")">
					</a>

				</div>
				<div class="prod-info  boxed z-depth-1">


					<a href="@Url.Action("Detail","Product")">
						<h5 class="title truncate">Bếp ga du lịch </h5>
					</a>              
					<span class="small brand">Dr. HOWS</span>
					<div class="spacer-line"></div>
					<h5 class="bot-0 price">1.890.000</h5>
					<div class="spacer-line"></div>

					<div class="prod-options products"><div class="size"><span>6</span><span>7</span><span>8</span><span>9</span></div>
					<div class="color">
						<span style="background-color:#f06292;">&nbsp;</span>
						<span style="background-color:#4db6ac;">&nbsp;</span>
						<span style="background-color:#aed581;">&nbsp;</span>
					</div></div>      <div class="spacer-line"></div>


					<span class="addtocart btn-small">Cho vào giỏ</span>

					<span class="addtowishlist btn-small">Yêu thích</span>


					<div class="spacer-line"></div>

					<p class="bot-0 text">Dr.HOWS là thương hiệu chuyên sản xuất thiết bị nhà bếp cao cấp của Hàn Quốc. Trong hơn 40 năm, Dr.HOWS đã cam kết đổi mới sản phẩm, nghiên cứu phát triển và cải tiến chất lượng dựa trên kinh nghiệm trong ngành và tinh thần sản xuất chuyên nghiệp, và không ngừng phát triển thông qua công nghệ sản xuất tiên tiến, cho ra đời nhiều dòng sản phẩm đồ dùng nhà bếp mới, các sản phẩm của Dr.HOWS đã nhận được sự khen ngợi và tin dùng của khách hàng từ hơn 50 quốc gia trên thế giới.</p>

					<p>
						Thông tin chi tiết sản phẩm:
						<br>- Màu sắc: Trắng, Hồng, Vàng, Xanh
						<br>- Kích thước (trắng, hồng): 34,8 x 26 x 10,6 cm
						<br>- Kích thước (màu vàng, xanh): 28 x 18 x 8 cm
						<br>- Trọng lượng: 1,75kg
						<br>- Có khoá trẻ em an toàn
						<br>- Tiết kiệm nặng lượng và khí đốt
						<br>- An toàn, chống cháy nổ tốt
						<br>- Đánh lửa áp điện, ngọn lửa xanh và đều
					</p>

					<p>
						Sản phẩm thiết kế gọn nhẹ, tiện dụng, kiểu dáng tinh tế, màu sắc đẹp, sang trọng. Dễ bảo quản.
					</p>

					<p>Có thể sử dụng bình gas tiêu chuẩn. Nhiều cấp độ an toàn, giảm thiểu nguy cơ hỏa hoạn.</p>

					<p>Tối đa hóa hiệu suất nhiệt với ngọn lửa xoắn mềm và giảm lượng gas tiêu thụ đến 16%.</p>

					<p>Hệ thống chữa cháy ngọn lửa xoắn giúp tỏa nhiệt mạnh hơn.</p>

				</div>
			</div>



		</div>

	</div>
</div>




