<div class="container  is-pagetitle">
	<div class="section">
		<h5 class="pagetitle">Thông tin nhận hàng</h5>
	</div>
</div>

<div class="container over z-depth-1">
	<div class="section">

		<div class="row">
			<div class="input-field col s12">
				<i class="mdi mdi-account-outline prefix"></i>
				<input id="first_name" type="text" class="validate" value="">
				<label for="first_name">Họ tên</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<i class="mdi mdi-email-outline prefix"></i>
				<input id="email" type="email" class="validate" value="">
				<label for="email">Email</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<i class="mdi mdi-cellphone prefix"></i>
				<input id="mobno" type="text" class="validate" value="">
				<label for="mobno">Số điện thoại</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<i class="mdi mdi-cellphone prefix"></i>
				<input id="mobno1" type="text" class="validate" value="">
				<label for="mobno1">Số thay thế</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12 textarea">
				<i class="mdi mdi-circle-edit-outline prefix"></i>
				<textarea id="textarea-prefix" class="materialize-textarea" style="min-height:50px;"></textarea>
				<label for="textarea-prefix">Địa chỉ</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<i class="mdi mdi-map-marker-outline prefix"></i>
				<input id="mobno2" type="text" class="validate" value="">
				<label for="mobno2">Tỉnh/Thành phố</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<i class="mdi mdi-map-marker-outline prefix"></i>
				<input id="mobno3" type="text" class="validate" value="">
				<label for="mobno3">Quận/Huyện</label>
			</div>
		</div>


		<div class="row">
			<div class="input-field col s12">
				<i class="mdi mdi-map-marker-outline prefix"></i>
				<input id="mobno4" type="text" class="validate" value="">
				<label for="mobno4">Phường/Xã</label>
			</div>
		</div>

		<div class="row mb0">
			<div class="">
				<a href="@Url.Action("Index", "Wallet")" class="waves-effect waves-light btn-large bg-primary ">THANH TOÁN</a>
			</div>
		</div>

	</div>
</div>