	<div class="container  is-pagetitle">
		<div class="section">
			<h5 class="pagetitle">Thành viên viết</h5>
		</div>
	</div>

	<div class="container">
		<div class="section">


			<div class="row ui-mediabox blogs blog-view bot-0">
				<div class="col s12">
					<a class="img-wrap" href="@Url.Content("~/shop/images/blog-116.jpg")" data-fancybox="images" data-caption="Build a design from scratch with creativity">
						<img alt="image" class=" z-depth-1" style="width: 100%;" src="@Url.Content("~/shop/images/blog-116.jpg")">
					</a>
					<div class="blog-content">
						<h5 class="title">Trầm cảm trong công việc - Chuyện không của riêng ai</h5>
						<span class="small date">23/09/2021</span>
						<span class="small tags"><a class="small" href="#!">HUỆ CHÂU</a>, <a class="small" href="#!">Sức khoẻ tinh thần</a></span>
						<p class="bot-0 text">
							Chúng ta dành hơn 1/3 cuộc đời mình cho công việc với nhiều áp lực và căng thẳng. Nhiều người cho rằng những vấn đề đó là “stress” và cố vượt qua mà không hề nhận ra mình bị trầm cảm trong công việc. Hãy cùng điểm qua một số gợi ý giúp bạn đối phó với vấn đề tâm lý này nhé!

							.
						</p>

						<p>Trong một cuộc khảo sát, 23% nhân viên văn phòng cho biết họ đã được chẩn đoán mắc bệnh trầm cảm tại một số thời điểm trong cuộc đời. Nhưng chưa đến một nửa trong số này dành thời gian nghỉ ngơi và tìm cách vượt qua chướng ngại tinh thần này. Trầm cảm trong công việc không biến mất một cách đơn giản, nhưng chúng ta hoàn toàn có thể phòng tránh và giải quyết vấn đề này từ đầu bằng những hành động sau đây.</p>

						<p>
							<strong>Lắng nghe cơ thể</strong> - Sự nghiệp rất quan trọng, nhưng sẽ không thể có “sự nghiệp” nào cả nếu sức khỏe tinh thần của bạn bị sa sút. Cảm giác chán nản và mất đi động lực sẽ khiến bạn không thể tập trung hoàn thành bất kỳ công việc nào, dù là đơn giản nhất. Khi bạn cảm thấy mệt mỏi và áp lực cũng là lúc cơ thể nhắc bạn cần phải yêu thương bản thân hơn, hãy sắp xếp thời gian nghỉ ngơi, thư giãn để dưỡng sức và vực dậy tinh thần.

							Hãy sắp xếp ngay một chuyến du lịch ngắn ngày, tham gia một khóa thiền, chơi thể thao hay họạt động nghệ thuật nào đó để giải tỏa bớt năng lượng tiêu cực.
						</p>

						<p> <strong>Sống vui khỏe mỗi ngày</strong> - Hãy trở thành một phiên bản tốt hơn của bản thân mỗi ngày bằng cách thực hành lối sống khỏe mạnh cả về thể chất lẫn tinh thần như ngủ đủ giấc, tập thể dục ngoài trời, ăn vặt ...</p>

						<p><strong>Tìm lại giá trị của bản thân</strong> - Thay vì đặt mục tiêu quá lớn, hãy hoàn thành công việc hiệu quả mỗi ngày, bạn sẽ thấy bản thân mình hữu ích và tự tin hơn, từ đó có thêm động lực để gặt hái những thành quả to lớn. Hãy dành vài phút cuối giờ để ghi lại những việc bạn hoàn thành tốt, những ảnh hưởng tích cực bạn mang đến cho công ty, cho đồng nghiệp để thấy một ngày làm việc của mình thật sự có ích.</p>

						<p>
							<strong>Tâm sự với đồng nghiệp đáng tin cậy</strong> - Đừng nghĩ đến công ty chỉ để làm việc, những lúc mệt mỏi bạn có thể than thở một chút với những người đồng nghiệp thân thiết. Đồng nghiệp chính là người hiểu rõ những bế tắc trong công việc của bạn còn hơn cả gia đình, họ có thể là “bác sĩ tâm lý 8/24” cho bạn những lời khuyên thực tế nhất.
						</p>
					</div>
				</div>


			</div>



			<div class="row ">
				<div class="col s12 pad-0">
					<h5 class="bot-20 sec-tit  ">Bình luận</h5>    <div class="col s12">

						<div class="row">
							<div class="input-field col s12">
								<i class="mdi mdi-face prefix"></i>
								<input id="event_title11" type="text">
								<label for="event_title11">Họ tên</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12">
								<i class="mdi mdi-email-outline prefix"></i>
								<input id="event_title112" type="text">
								<label for="event_title112">Email</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12 textarea">
								<i class="mdi mdi-file-outline prefix"></i>
								<textarea id="textarea-prefix" class="materialize-textarea"></textarea>
								<label for="textarea-prefix" class="">Nội dung</label>
							</div>
						</div>


						<div class="row">
							<div class="">
								<a class="waves-effect waves-light btn bg-primary">Gửi bình luận</a>&nbsp; &nbsp;
								<a class="waves-effect waves-light btn btn-secondary"><i class="mdi mdi-attachment"></i></a>&nbsp; &nbsp;
								<a class="waves-effect waves-light btn bg-secondary"><i class="mdi mdi-format-color-text"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>



		</div>
	</div>