<div class="footer-menu circular">
	<ul>
		<li>
			<a href="ui-app-products-cart.html">
				<i class="mdi mdi-open-in-app"></i>
				<span>Giỏ hàng</span>
			</a>
		</li>
		<li>
			<a href="sub-apps-wallet.html">
				<i class="mdi mdi-palette-swatch"></i>
				<span>Thanh toán</span>
			</a>
		</li>
		<li class="active">
			<a href="ui-app-products-home.html" class=' active '>
				<i class="mdi mdi-home-outline"></i>
				<span>Trang chủ</span>
			</a>
		</li>
		<li>
			<a href="ui-app-blog-home.html">
				<i class="mdi mdi-flask-outline"></i>
				<span>Bài viết</span>
			</a>
		</li>
		<li>
			<a href="ui-app-contacts.html">
				<i class="mdi mdi-view-dashboard"></i>
				<span>Liên hệ</span>
			</a>
		</li>

	</ul>
</div>